.header {
	grid-template-columns: 150px 1fr auto;
	padding: 40px;
	z-index: 3;
	width: 100%;
	transition: 0.5s ease all;
	grid-column: 1 / -1;
	grid-row: 1;
}

.headerScroll {
	position: fixed;
	grid-template-columns: 90px 1fr auto;
	padding: 10px 40px;
	z-index: 10;
	width: 100%;
	align-items: center;
	transition: 0.5s ease all;
	transform: translateY(-150%);
	will-change: transform;
}

.solidHeader {
	background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
    			0 2px 4px rgba(0,0,0,0.07),
    			0 4px 8px rgba(0,0,0,0.07),
    			0 8px 16px rgba(0,0,0,0.07),
    			0 16px 32px rgba(0,0,0,0.07),
    			0 32px 64px rgba(0,0,0,0.07);
}

.headerMenuWrapper {
	grid-auto-flow: column;
	grid-gap: 30px;
	grid-column: -1 / -2;
	grid-row: 1;
	transition: 0.5s ease all;
}

.headerMenuUnit:hover span {
	color: var(--darkGrayColor);
}

.headerMenuUnit:hover::after {
	width: 100%;
}

.headerMenuUnit::after {
	content: "";
	position: absolute;
	width: 0%;
	height: 3px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--primaryColor);
	transition: 0.5s ease-out all;
}

.headerMenuUnit span {
	font-weight: var(--semi-bold);
	color: var(--mediumGrayColor);
}


.headerhamburguerMenuWrapper {
	grid-column: -1 / -2;
	grid-row: 1;
	justify-self: end;
}

.menuBtn {
	padding: 7px;
	background-color: var(--primaryColor);
	border-radius: 5px;
	cursor: pointer;
	display: none;
}

.menuBtn svg {
	width: 22px;
	height: 22px;
}
























.heroSection {
	grid-auto-flow: row;
	justify-items: center;
	grid-template-rows: 80px auto auto auto;
	grid-template-columns: 1fr;
	padding-bottom: 20px;
}

.heroSectionIndex::after {
	content: "";
	height: 15px;
	width: 100%;
	background-color: var(--primaryColor);
	bottom: 0;
	z-index: 3;
	position: absolute;
}

#heroImg {
	width: 80%;
	height: auto;
	max-width: 1300px;
	grid-row: 4 / 5;
	grid-column: 1 / -1;
	will-change: transform, opacity;
	justify-self: center;
}


.heroSection h1 {
	font-size: var(--slideTitle);
	text-align: center;
	grid-row: 2;
	grid-column: 1 / -1;
}

.heroSection h2 {
	font-size: var(--slideLead);
	text-align: center;
	margin: 20px auto;
	grid-row: 3;
	grid-column: 1 / -1;
}

.heroSvgsAnimeWrapper {
	grid-column: 1 / -1;
	grid-row: 1 / 5;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.heroSvgsAnimeWrapper svg {
	will-change: transform;
}

#svgheroCircle1 {
	position: absolute;
	transform: translate(10%,60%);
	width: 43%;
	height: 43%;
}

#svgheroCircle2 {
	position: absolute;
	transform: translate(180%,120%);
	width: 35%;
	height: 35%;
}

#svgheroCircle3 {
	position: absolute;
	transform: translate(45%,180%);
	width: 28%;
	height: 28%;
}

#svgheroCircle4 {
	position: absolute;
	transform: translate(200%,280%);
	width: 22%;
	height: 22%;
}

#svgheroCircle5 {
	position: absolute;
	transform: translate(430%,470%);
	width: 12%;
	height: 12%;
}

#svgheroCircle6 {
	position: absolute;
	transform: translate(290%,270%);
	width: 20%;
	height: 20%;
}

#svgheroCircle7 {
	position: absolute;
	transform: translate(330%,140%);
	width: 20%;
	height: 20%;
}

#svgheroCircle8 {
	position: absolute;
	transform: translate(160%,110%);
	width: 30%;
	height: 30%;
}

#svgheroCircle9 {
	position: absolute;
	transform: translate(520%,340%);
	width: 13%;
	height: 13%;
}

#svgheroCircle10 {
	position: absolute;
	transform: translate(330%,260%);
	width: 18%;
	height: 18%;
}

#svgheroCircle11 {
	position: absolute;
	transform: translate(470%,240%);
	width: 13%;
	height: 13%;
}

#svgheroCircle12 {
	position: absolute;
	transform: translate(300%,280%);
	width: 23%;
	height: 23%;
}


#svgheroCircle13 {
	position: absolute;
	transform: translate(50%,310%);
	width: 23%;
	height: 23%;
}



























































.sectionClientesWrapper {
	grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
	background-color: var(--white);
	padding: 100px 10vw;
	grid-gap: 20px;
}

.sectionClientesWrapper amp-img {
	width: 100%;
	height: 100%;
}

.sectionClientesWrapper h2 {
	grid-column: 1 / -1;
	text-align: center;
	margin-bottom: 20px;
}




























.sectionSobreWrapper {
	background-image: url(../img/Paulista.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-attachment: fixed;
	transition: none;
	padding: 100px 10vw;
	align-content: start;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}


.sectionSobreWrapper h2,
.sectionSobreWrapper p {
	text-align: center;
	color: var(--white);
}


.sectionSobreWrapper h2 {
	margin: 0 auto 20px auto;
	width: 90%;
	max-width: 900px;
}


.sectionSobreWrapper p {
	margin: 0 auto 50px auto;
	width: 90%;
	max-width: 900px;
	line-height: 1.5;
}































.casesSectionWrapperMobile {
	display: none;
}




.casesSectionWrapper {
	padding: 100px 0 0px 150px;
}

.casesTitleWrapper {
	grid-column: 1 / -1;
	margin-right: 150px;
	flex-direction: column;
}

.casesSectionWrapper h2 {
	font-size: var(--titles);
	color: var(--primaryColor);
	margin-bottom: 10px;
}

.casesSectionWrapper h3 {
	line-height: 1.5;
}

.casesSectionAnimationScrollWrapper {
	width: 100%;
	grid-template-columns: 400px 1fr;
	grid-gap: 50px;
}

.casesAnimationtitlesWrapper {
	width: 400px;
	top: 0;
	transition: none;
	position: absolute;
}

.caseImgWrapper {
	position: relative;
	width: 100%;
	height: 500px;
	grid-column: 2 / -1;
}

.casesAnimationtitlesContent {
	margin-top: 130px;
	grid-template-columns: 10px 1fr;
	grid-gap: 10px;
}

.casesAnimationTitlesStatic {
	grid-gap: 50px;
	grid-column: -1 / -2;
}

.casesAnimationTitlesStatic::after {
	width: 100%;
	height: 100px;
	background-color: var(--white);
	content: "";
	position: absolute;
	bottom: -105px;
	left: -50px;
	z-index: 4;
}

.casesTitleUnit h4 {
	font-size: var(--h1Size);
	font-weight: var(--black);
	color: var(--primaryColor);
}

.scrollCasesWrapper {
	width: 100%;
	grid-column: -2 / -2;
}

.scrollCasesUnitWrapper {
	width: 100%;
	margin: 230px 0;
	grid-template-columns: 1fr 2fr;
	justify-content: start;
	align-content: start;
	grid-gap: 50px;
}

.scrollCasesUnitWrapper h1 {
	grid-column: 1 / -1;
	color: var(--primaryColor);
}

.linkBtn {
	z-index: 4;
}

.scrollCasesUnitWrapper .linkBtn {
	grid-row: 2;
	grid-column: 1 / 2;
	justify-self: center;
	align-self: center;
}
.casesAnimationTitlesDynamicShape {
	width: 4px;
	background-color: var(--primaryColor);
	height: 28%;
	position: absolute;
	top: 0;
	left: 0;
}


#svgShape1Wrapper,
#svgShape2Wrapper,
#svgShape3Wrapper {
	position: absolute !important;
	right: -50px;
	transform: translateY(530px);
	box-sizing: border-box;
	z-index: 2;
	grid-column: 1 / -1;
	grid-row: 1 / 2;
}


.svgShape1,
.svgShape2,
.svgShape3 {
	width: 250px;
	height: 250px;
	position: relative;
}





.hashSvg {
	margin: 100px auto;
}

.hashSvg svg {
	width: 50vw;
}
























footer {
	grid-template-columns: 1fr 2fr;
	grid-gap: 50px;
	background-color: var(--primaryColor);
	align-items: center;
	align-items: stretch;
}

footer p {
	color: var(--white);
	padding: 40px;
	background-color: rgba(0,0,0,.1);
	line-height: 1.3;
	font-weight: var(--extra-light);
}

.contatosWrapper {
	grid-gap: 30px;
	grid-template-columns: repeat(3, 1fr);
}

.contatosLine {
	grid-template-columns: 40px 1fr;
	align-items: center;
	padding: 40px;
}

.contatosLine:nth-child(2) {
	background-color: rgba(0,0,0,.1);
}

.contatosLine svg * {
	grid-column: 1 / 2;
	grid-row: 1;
	stroke: var(--white);
}

.contatosLine h4 {
	grid-column: 2 / -1;
	grid-row: 1;
	margin-left: 6px;
	color: var(--white);
}

.contatosLine span {
	grid-column: 1 / -1;
	grid-row: 2;
	line-height: 1.3;
	margin-left: 10px;
	color: var(--white);
}




















.sectionMediaRoom {
	grid-template-columns: repeat(2, 1fr);
}



.mediaRoomTitleWrapper {
	padding: 0px 0 20px 150px;
	grid-column: 1 / -1;
	margin-right: 150px;
	flex-direction: column;
}

.mediaRoomTitleWrapper h2 {
	font-size: var(--titles);
	color: var(--primaryColor);
	margin-bottom: 10px;
}

.mediaRoomTitleWrapper h3 {
	line-height: 1.5;
}

.releaseWrapper {
	overflow: hidden;
}

.releaseImgWrapper {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	height: 300px;
}

.releaseWrapper a {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	align-self: center;
	background-color: var(--primaryColor);
}

.releaseWrapper h4 {
	color: var(--white);
}

.releaseWrapper svg {
	fill: var(--white);
}
























.produtosSectionWrapper,
.depoimentosSectionWrapper {
	padding: 100px 0 0px 150px;
}

.produtosTitleWrapper,
.depoimentosTitleWrapper {
	grid-column: 1 / -1;
	margin-right: 150px;
	flex-direction: column;
}

.produtosSectionWrapper h2,
.depoimentosSectionWrapper h2 {
	font-size: var(--titles);
	color: var(--primaryColor);
	margin-bottom: 10px;
}

.produtosSectionWrapper h3,
.depoimentosSectionWrapper h3 {
	line-height: 1.5;
}





















.section3Wrapper {
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(224,229,236,1) 15%, rgba(224,229,236,1) 100%);
	background-color: var(--lightGrayColor);
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
	padding: 100px 20vw;
}

.section3chartWrapper {
	flex-direction: column;
}

.section3chartWrapper h3 {
	text-align: center;
}

.section3Wrapper h2 {
	grid-column: 1 / -1;
	text-align: center;
}

.section3Wrapper p {
	grid-column: 1 / -1;
	line-height: 1.5;
	text-align: center;
}

.svgicon1 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.svgicon2 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.svgicon3 {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.svgicon4 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 51%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.svgicon5 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.svgicon6 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 51%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.svgCircle,
.svgCircle1 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}


.svgShadow,
.svgShadow1 {
	filter: url(#blurFilter);
}

.darkShadow {
	opacity: 0.3;
}

.depoimentosWrapper {
	grid-template-columns: 1fr 1fr;
	width: 90%;
	max-width: 1500px;
	grid-gap: 50px;
	margin: 50px auto 100px auto;
}

.depoimentoUnitWrapper:last-child {
	grid-column: 1 / -1;
}

.depoimentoUnitWrapper {
	align-self: start;
	grid-gap: 20px;
    padding: 60px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.07),
    			0 4px 4px rgba(0,0,0,0.07),
    			0 8px 8px rgba(0,0,0,0.07),
    			0 16px 16px rgba(0,0,0,0.07),
    			0 32px 32px rgba(0,0,0,0.07);
}

.depoimentoUnitWrapper p {
	line-height: 1.5;
	font-size: 18px;
}

.openQuotation {
	margin: 10px;
	top: 0;
	left: 0;
}

.closeQuotation {
	margin: 10px;
	bottom: 0;
	right: 0;
}

.depoimentoUnitWrapper svg {
	width: 40px;
	height: 40px;
	fill: var(--primaryColor);
	position: absolute;
}